.container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.storeCard {
  height: 100px;
  min-width: 200px;
  background-color: lavender;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.selected {
  border: 2px #3a6c87 solid;
}

.button {
  width: 164px;
  margin-left: auto;
}

.storeCard:hover {
  scale: 1.1;
}

.controlPanel {
  margin-top: auto;
  width: 100%;
  display: flex;
}
